* {
    box-sizing: border-box;
}

:root {
    --color: #83817fa8;
    --accent: #89ef60;
    --pink: #f94d9d;
    --light: #f7f7f7;
}

body {
    background: #ededed;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 3vh;
    font-size: 18px;
    background-color: #89ef60;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 18px;
}

div {
    font-size: 15px;
}

.page-content {
    font-size: 15px;
}

.cards {
    display: flex;
    justify-content: center;
    width: 50%;
}

.card {
    max-width: 80%;
    margin-top: 15vh;
    border: solid 2px rgb(199, 199, 199);
    padding: 5vw;
    border-radius: 10px;
    align-items: center;
}


form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

form input {
    outline: none;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 2.2rem;
    border: 2px solid var(--grey);
    border-radius: 12px;
}


button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 200px;
    padding: 12px;
    color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 5px;
    background-color: #f7f7f7;
}

button:hover {
    color: #f7f7f7;
    cursor: pointer;
    background-color: var(--pink);
    box-shadow: inset 0 100px 0 0 var(--pink);
}
